# Database
DATABASE_URL="postgresql://username:password@localhost:5432/apideas_v4"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# OAuth Providers
GITHUB_ID="your-github-client-id"
GITHUB_SECRET="your-github-secret"
GOOGLE_ID="your-google-client-id"
GOOGLE_SECRET="your-google-secret"

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51RZQ54P3qZlNzvVSVQfyhLihsvi2jarIH3xnaFB2bNjXvexUhs0Ji6Kvw08UADwlazoRaBDPZJNSMW2wFSnf43F200YJ6wHsmO"
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_ccounoYUtm4fBor6ImHR14ObbcF53LoK"